./frontend/node_modules
./frontend/.env
./backend/node_modules
./backend/.env
./backend/data
./backend/logs
./backend/logs/error.log
./backend/logs/access.log
./backend/logs/combined.log
./backend/logs/error.log
./backend/logs/access.log
./backend/logs/combined.log